<div id="login">
  <div id="login-greeting"><%= I18n.t(:welcome_to) %></div>

  <div id="login-image">
    <%= image_tag("markus_logo_big.png", :alt => "[Logo] Markus Beta") %>
  </div>

  <div id="login-course"><%= MarkusConfigurator.markus_config_course_name %></div>

  <% if flash[:login_notice] -%>
    <div class="error"><%=h flash[:login_notice] %></div>
  <% end -%>
  <div id="login-content">
    <!-- login form -->    
        <% form_tag({ :action => 'logon', :id => nil }, :id => 'login_form') do %>
  
        <%= label_tag 'user_login', I18n.t(:login) -%>
        <%= text_field_tag 'user_login', nil, :tabindex => 10 %><br />
  
        <%= label_tag 'user_password', I18n.t(:password) %>
        <%= password_field_tag 'user_password', nil, :tabindex => 20 %><br />
  
        <%= hidden_field_tag 'user_login', request.env['HTTP_CAS_USER'] %>
        <%= hidden_field_tag 'user_password', request.env['HTTP_CAS_USER'] %>

        <p style="text-align:center"> Welcome <%= request.env['HTTP_CAS_USER'] %>! Click below to continue: </p>

        <p style="text-align:center"> <%= submit_tag "Continue", :disable_with => I18n.t(:logging_in), :tabindex => 100, :class => 'button'%> </p>

        <p style="text-align:center"> (or please close your browser to completely log-off) </p>
        
        

        <% if request.env['QUERY_STRING'] == 'admin' %>

          <p style="text-align:center"> For administrators, continue as a student or a grader: </p>
          <table>
          <tr>
          <td> <!-- admin-student login form -->
          <% form_tag({ :action => 'logon', :id => nil }, :id => 'login_form') do %>

          <%= hidden_field_tag 'user_login', request.env['HTTP_CAS_USER'] + '-student' %>
          <%= hidden_field_tag 'user_password', request.env['HTTP_CAS_USER'] + '-student' %>

          <%= submit_tag "Continue as student", :disable_with => I18n.t(:logging_in), :tabindex => 101, :class => 'button'%>

          <% end %>
          </td>

          <td> <!-- admin-grader login form -->
          <% form_tag({ :action => 'logon', :id => nil }, :id => 'login_form') do %>

          <%= hidden_field_tag 'user_login', request.env['HTTP_CAS_USER'] + '-grader' %>
          <%= hidden_field_tag 'user_password', request.env['HTTP_CAS_USER'] + '-grader' %>

          <%= submit_tag "Continue as grader", :disable_with => I18n.t(:logging_in), :tabindex => 102, :class => 'button'%>

          <% end %>
          </td>
          </tr>
          </table>
          <% end %>

    


    <% end %>
  </div>
</div>

<%# Try to put focus on the login text field on load %>
<script type="text/javascript">
//<![CDATA[
  try{ document.getElementById('user_login').focus(); } catch(e) {}
//]]>
</script>
